{% extends 'my_app/home.html' %}

{% block head_block %}
<style>
    #jumbotron1{
        background-color: #205deb;
    }
    .header3{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #fff;
        text-align: center;
    }
    #id_password1 {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        #id_password2 {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
</style>
{% endblock %}

{% block body_block %}
<div class="jumbotron" id="jumbotron1">
    <div class="container">
        <h1 class="header3">Editeaza-ti profilul</h1>
    </div>
</div>
<br>
<div class="new_banner4">
    <div class="container">
        <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;">Editeaza:</h2>
        <br>
        <form method="POST" action="" class="form-group">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-8 col-md-4 col-sm-6">
                    <label for="username">Numele tau:</label>
                    {{ form.username }}
                    <label for="email" style="margin-top: 14px;">Email:</label>
                    {{ form.email }}
                    <label for="password1" style="margin-top: 14px;">Parola:</label>
                    {{ form.password1 }}
                    <label for="password2" style="margin-top: 14px;">Verifica-ti parola:</label>
                    {{ form.password2 }}
                    <br>
                    <input type="submit" class="btn btn-outline-info btn-block" value="Editeaza">
                </div>
            </div>
        </form>
    </div>
</div>
<br>
    <div class="jumbotron" id="jumbotron2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-6">
                    <h2 class="header5">Contacteaza-ne</h2>
                    <br>
                    <a href="" class="anchor1"><i class="fab fa-facebook"></i> Facebook</a>
                    <br>
                    <a href="" class="anchor1"><i class="fab fa-instagram" style="margin-top: 14px;"></i> Instagram</a>
                    <p class="param4" style="margin-bottom: 0;"><i class="far fa-envelope-open"></i> E-mail:</p>
                    <p class="param4"><i class="fas fa-phone"></i> Numar de telefon: </p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6">
                    <h2 class="header5">Despre noi</h2>
                    <p class="param4" style="margin-bottom: 0;">Text aleatoriu. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, eveniet optio. Facere quod iste numquam nisi dolorem placeat in commodi non!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" id="jumbotron3">
        <div class="container">
            <p class="param5">© Copyright {{date_posted}} - Amdaris.ro - Toate drepturile rezervate</p>
        </div>
    </div>
{% endblock %}