{% extends 'my_app/home.html' %}

{% block head_block %}
<style>
    .banner4{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGRlc2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
        background-position: center;
        background-size: cover;
    }
    .param6{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 52px;
        color: #fff;
        text-align: center;
        padding-top: 10rem;
    }
    .submit1{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        background-color: #F24A72;
        border-radius: 20px;
        border: 1px solid #F24A72;
        color: #fff;
        padding: 12px 50px 12px 50px;
        text-align: center;
        transition: 0.2s ease-in-out;
        margin-top: 2rem;
    }
    .submit1:hover{
        background-color: #de3a60;
    }
    #image2{
        width: 100%;
        height: 40vh;
        margin-top: 30px;
        border-radius: 10px;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        background: #1648bb;
        cursor: pointer;
    }
    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
    }
    #container1:hover .overlay{
        opacity: 0.8;
    }
    .banner5{
        margin-top: 3rem;
    }
    .header3{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }
    .button1{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 20px;
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 12px 24px 12px 24px;
        color: #fff;
        text-align: center;
        transition: 0.4s ease-in-out;
        text-decoration: none;
    }
    .button1:hover{
        background-color: #fff;
        color: #1648bb;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="banner4">
    <div class="container">
        <p class="param6" style="padding-bottom: 0;">Rezerva acum un birou</p>
        <p class="param6" style="padding-top: 0;">din {{ new_model.oras }}</p>
        <form method="POST" action="{% url 'search_places' user.pk %}" class="form-group" style="margin-top: 6rem;padding-bottom: 10rem;">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <label for="start" style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;font-size: 20px;">De la:</label>
                    <input type="date" class="form-control form-control-lg" autocomplete="off" name="start_calendar" required>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <label for="end" style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;font-size: 20px;">Pana la:</label>
                    <input type="date" class="form-control form-control-lg" autocomplete="off" name="end_calendar" required>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <input type="submit" value="Rezerva" class="submit1" required>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="banner5">
    <div class="container">
        <h1 class="header3">Birouri totale: {{ model.count }}</h1>
        <hr style="margin-bottom: 2rem;">
        <div class="row">
            {% for new_data in model %}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div id="container1">
                    <img src="{{ new_data.image.url }}" id="image2">
                    <div class="overlay">
                        <div class="content">
                            <h2 class="header3">{{ new_data.desk }}</h2>
                            <br>
                            <a href="{% url 'intrebari' %}" class="button1">Descopera</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
    <div class="jumbotron" id="jumbotron2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-6">
                    <h2 class="header5">Contacteaza-ne</h2>
                    <br>
                    <a href="" class="anchor1"><i class="fab fa-facebook"></i> Facebook</a>
                    <br>
                    <a href="" class="anchor1"><i class="fab fa-instagram" style="margin-top: 14px;"></i> Instagram</a>
                    <p class="param4" style="margin-bottom: 0;"><i class="far fa-envelope-open"></i> E-mail:</p>
                    <p class="param4"><i class="fas fa-phone"></i> Numar de telefon: </p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6">
                    <h2 class="header5">Despre noi</h2>
                    <p class="param4" style="margin-bottom: 0;">Text aleatoriu. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, eveniet optio. Facere quod iste numquam nisi dolorem placeat in commodi non!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" id="jumbotron3">
        <div class="container">
            <p class="param5">© Copyright {{date_posted}} - Amdaris.ro - Toate drepturile rezervate</p>
        </div>
    </div>
{% endblock %}